asgiref==3.8.1
backports.zoneinfo==0.2.1
bcrypt==4.3.0
cffi==1.17.1
cryptography==44.0.0
Django==4.2.20
gunicorn==23.0.0
packaging==24.2
pillow==10.4.0
pycparser==2.22
pycryptodome==3.21.0
PyMySQL==1.1.1
sqlparse==0.5.3
typing-extensions==4.13.1
